body{
	background: url(../images/bg.jpeg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.card{
	height: 85vh;
}

.card-img > img{
	height: 30vh !important;
	width: 25vw !important;
}